<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card india">
        <app-india></app-india>
      </div>
      <div class="card ipl">
        <div class="card-body">
          <h5 class="card-title">IPL</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <ul class="iplTeams">
              <li *ngFor="let team of iplTeams | keyvalue">
                <button
                  (click)="setInput(team.key)"
                  class="btn"
                  [ngClass]="{
                    'btn-warning': team.key == 'CSK',
                    'btn-dark': team.key == 'KKR',
                    'btn-danger': team.key == 'RCB',
                    'btn-info': team.key == 'SRH'
                  }"
                >
                  {{ team.key }}
                </button>
              </li>
            </ul>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-sm-8 formSection">
      <app-ipl [teamToDisplay]="teamToInput"></app-ipl>
    </div>
  </div>
</div>
